<h3>Vendors</h3>

<div>
  <% @firms.each do |firm| %>
    <%= link_to firm.name, firm %>
  <% end %>
</div>
<div>
  <%= admins_only do %>
    <%= link_to "New Vendor", new_firm_path, class: "btn btn-small" %>
  <% end %>
</div>
