<h3>Vendors</h3>

<div>
  <ul>
    <% @firms.each do |firm| %>
      <li><%= link_to firm.name, firm %></li>
    <% end %>
  </ul>
</div>
<div>
  <%= admins_only do %>
    <%= link_to "New Vendor", new_firm_path, class: "btn btn-small" %>
  <% end %>
</div>
