  <div class="center hero-unit">
    <h2>Снизижение рисков принятия тендерных решений с помощью eRFP</h2>
    <ul class="home">
      <li>Создание RFI / RFP / RFQ и сопутствующих документов</li>
      <li>Публикация тендерной документации в электронном виде</li>
      <li>Ведение списка потенциальных поставщиков</li>
      <li>Рассылка приглашений об участии в тендере</li>
      <li>Самостоятельная регистрация потенциальных поставщиков для участия в тендере</li>
      <li>Взаимодействия с поставщиками в рамках тендеров: вопросы/ответы, уточнения требований</li>
      <li>Загрузка финальных предложений</li>
      <li>Контроль формальных сроков предоставления документов и доступа к ним</li>
      <li>Мультиязычность</li>
      <li>Аудит всех этапов проведения тендера</li>
    </ul>

    <%= link_to "Тарифы и Регистрация", price_path, class: "btn btn-large btn-primary" %>
  </div>
