  <div class="center hero-unit">
    <h1>Simplify your tenders with eRFP</h1>

    <ul class="home">
      <li>Publish RFP/RFI/RFQ documents</li>
      <li>Build bidder list</li>
      <li>Send invitation emails</li>
      <li>Bidder self registration</li>
      <li>Questions and answers handling</li>
      <li>Upload of final proposal</li>
      <!-- li>Enforced formal opening date</li -->
      <li>Keep audit trails</li>
    </ul>

    <%= link_to "Pricing & Sign Up", price_path, 
        class: "btn btn-large btn-primary" %>
  </div>
