<%= div_for(comment) do %>
  <p>
  	<strong>
      <%= simple_format(comment.text) %>
    </strong>
  </p>

  <p class="muted">
    <small>
      <em>
        Created by <%= mail_to comment.user.email, comment.user.name %>
      </em>
    </small>
  </p> 
  
<% end %>