<fieldset> 
  <legend>
    Schedule
    <% if current_user.publisher %>
      <%= link_to "Edit", edit_stage_path(@project), class: "btn btn-small btn-primary" %>
    <% end %>
  </legend>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Stage</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @project.stages.each do |stage| %>
        <tr>
          <td><%= stage.state.name %></td>
          <td><%= stage.stage_start.to_date.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
