<div class="navbar navbar-static-bottom">
  <div class="navbar-inner">
  <div class="container">
    <p class="muted credit pagination-centered">Designed and built with all the love in the world <a href="http://erfp.ru/">&copy; 2012 eRFP</a></p>
  </div>
</div>
</div>
