<div id="footer">
  <div class="container">
    <p class="muted credit pagination-centered">Designed and built with all the love in the world <a href="http://erfp.ru/">&copy; 2013 eRFP</a></p>
  </div>
</div>
