<div id="footer">
  <div class="container">
    <p class="muted credit pagination-centered">
    	<a href="mailto:contact@erfp.ru">contact@erfp.ru</a>
    	Designed and built with all the love in the world &copy; 2013 <a href="http://erfp.ru/">eRFP</a>
    </p>
  </div>
</div>
